{% extends 'users/register.html' %}
{% block register %}
<form class="form-inline" action="{% url 'users:active' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon">激活码</div>
      <input type="text" autocomplete="off" class="form-control" name="emcode" id="exampleInputAmount" placeholder="8位">
      <div class="input-group-addon">😃</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">激活</button>
</form>
{{msg}}
{% endblock %}