{% extends 'users/register.html' %}

{% block register %}
{% load static %}
<script type="text/javascript" src="/static/js/addr.js"></script>
<h3 style="color:red;">{{msg}}</h3>
<h5>完善个人信息：</h5>
<form action="{% url 'users:updateuser' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label></label>
        <input type="number" autocomplete="off"  class="form-control" maxlength=11 minlength=11 required placeholder="电话" name="phone" value="">
    </div>
    <div class="form-group">
        地区：<select id="area" required name="diqu"></select>
        省：<select id="cmbProvince" required name="province"></select>
        市：<select id="cmbCity" required name="city"></select>
        区：<select id="cmbArea" required  name="qu"></select>
        <br/><br/>
        <p>详细地址：<input type="text" required name="intro"></p>
    </div>
    <div class="form-group">
        <label >头像</label>
        <input type="file"  name="header" value="">
    </div>
    <button type="submit" class="btn btn-default">提交</button>
</form>


{% endblock %}

{% block script %}
<script type="text/javascript">
addressInit('area', 'cmbProvince', 'cmbCity', 'cmbArea', '西北地区', '北京', '市辖区', '东城区');

</script>
{% endblock %}